<%- include("./partials/header.ejs") %>
<body>
    <h1>Welcome !!</h1>
    <h2>Im a cute kitten..</h2>
    <h3>How can i help you?</h3>
    <img src="https://i.ytimg.com/vi/gUIJ-UkQsXI/maxresdefault.jpg" 
    alt="Cute Kitten"
    height="500px"
    />
</body>
<%- include("./partials/footer.ejs") %> 